# REMOVE LFS FOR IMAGES - THIS HANGS ON HF SPACES
# KEEP IT ONLY FOR LARGE BINARIES IF ABSOLUTELY NECESSARY
# BUT WE DOWNLOAD THEM AT BUILD TIME ANYWAY
*.h5 filter=lfs diff=lfs merge=lfs -text
*.weights filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
